// Parámetros ASIDE del index

.aside {
    margin-left: 8px;
    padding: 5px; }

.aside h3, h4 {
    text-align: center; }

.sorteo li {
    font-size: 1rem !important; }

.liSorteo {
    padding: 5px;
    margin: auto; }