// Parámetros del contenedor general de todo el index, con Grid

#page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat 4, 1fr; }

@media screen and (max-width: 768px) {
#page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat 5, 1fr; } }

@media screen and (max-width: 576px) {
#page {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat 7, 1fr; } }